/***** fonts ********\
\********************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/******** Common style or utilitte ************\
\**********************************************/

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/******************** Full Container *******************\
\*******************************************************/

.container{
    background-color: #f1f1f1ab;
    padding: 50px 50px;
    margin: 0% 15%;
}

main {
    margin-bottom: 100px;
}

/****************** header start ********************\
\****************************************************/
.top-head{
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin-right: 25px;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: black;
}

/***********Welcome area************\
\***********************************/
.welcome-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.starting-details h1 {
    font-size: 40px;
    line-height: 35px;
}
.starting-details p.small-para {
    font-size: 18px;
    line-height: 15px;
}

.space {
    margin-top: 50px;
}

a.link-btn {
    text-decoration: none;
    background-color: #E02C6D;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 30px;
}
a.link-btn:hover {
    background-color: white;
    color:#E02C6D;
    transition: 0.2s;
    border: 1px solid #E02C6D ;
}
a.link-btn-last{
 
    color: #E02C6D;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 30px;

}
.camera-site img {
    width: 440px;
    height: 410px;
}

.camera-site {
    border: 3px solid #F1E4FF;
    border-radius: 50%;
    height: 430px;
    width: 430px;
}

/****************Company-Identy*******************\
\*************************************************/

hr{
    border:1px solid rgba(0, 0, 0, 0.075);
    margin: 20px 0px;
}

.all-company-logo {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-items: center;
}

h2.section-title {
    text-align: center;
}

.single-collection {
    background-color: #fff;
    padding: 15px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.thumbnail img {
    width: 100%;
}
.album-title h3{
    margin-bottom: 0;
}
.album-title p{
    margin: 0;
}
i.fas.fa-star.filled{
color: #FB8200;
}
i.fas.fa-star.silver{
    color: #dfdfdf;
    }
.album-info p{
    margin: 0;
    font-size: 14px;
}

/**************** Popular Collection*****************\
\****************************************************/

.all-collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.see-more {
    text-align: right;
    margin-right: 10px;
}

.see-more a {
    text-decoration: none;
    color:#E02C6D;
    font-weight: 700;
}

/**********************Feature Products*************************\
\***************************************************************/

.feature-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.feature-picture img {
    width: 78%;
}


/**************** Footer Part *******************\
\************************************************/

footer {
    margin:0 15%;
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px;
}

.footer-details p {
    line-height: 10px;
}

.social-link i{
    margin-right: 10px;
    color:white;
}
.social-link i:hover{
    color:#E02C6D;
}

/************** Media Query Use ******************\
\*************************************************/

@media (min-width:602px) and (max-width: 768px) {
    
    .container {
        background-color: #f1f1f1ab;
        padding: 50px 50px;
        margin: 0;
    }
    nav.menu {
        text-align: center;
    }
    .all-collection {
        grid-template-columns: repeat(2, 1fr);
    }
    
}


@media (min-width:280px) and (max-width: 601px) {
    
    .container {
        background-color: #f1f1f1ab;
        padding: 20px 20px;
        margin: 0;
    }
   /************** Header Part *************\
   /****************************************/
    .top-head {
            display: grid;
            justify-content: center;
    }
    nav.menu {
        text-align: center;
    }

    .slogan {
        text-align: center;
    }
    /************** Welcome area **************\
    \******************************************/
    .welcome-area {
        display: grid;
    }
    .starting-details h1 {
        font-size: 28px;
        line-height: 20px;
    }
    .starting-details p.small-para {
        font-size: 16px;
        line-height: 25px;
    }
    p.small-para {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .starting-details {
        margin-bottom: 50px;
    }
    .camera-site img {
        width: 340px;
        height: 310px;
    }
    .camera-site {
        border: 3px solid #F1E4FF;
        border-radius: 50%;
        height: 320px;
        width: 320px;
        margin: auto;
    }
/****************Company-Identy*****************\
\********************************************************/
    .all-company-logo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
    }
    .all-collection {
        display: grid;
        grid-template-columns: 1fr;
    }
/**********************Feature Products*************************\
\***************************************************************/
    .feature-items {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: stretch;
        justify-content: space-between;
    }
    
    /******************footer part******************\
    \***********************************************/

    footer {
        margin:0;
        text-align: center;
        background-color: black;
        color: white;
        padding: 20px;
    }
}

